<li>Modelo: {{ this.modelo }}</li>
<li>Marca: {{ this.marca }}</li>
<li>Placa {{ this.placas }}</li>
<li>Cor {{ this.color }}</li>
<li>Ano {{ this.yar }}</li>
<img src={{ this.photo }} title={{ this.modelo }} alt="{{this.photo}}">
<hr>